.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* universal style*/
* {
  margin: 0;
  padding: 0;
}

/* shared style */


/* header styles*/

.new-year-party {
  max-width: 1320px;
  margin: 50px auto;
  height: 600px;
  background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(../images/Banner\ Image.png);
  background-size: cover;
  border-radius: 16px;
}

.new-year-title {
  font-family: "Merriweather", serif;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header .new-year-title p {
  font-size: 32px;
  margin-bottom: 16px;
}

.happy-off {
  font-family: "Inter", sans-serif;
  max-width: 802.9px;
  height: 806px;
  margin: 120px auto;
  text-align: center;
}

header .happy-off h1{
  font-weight: bold;
  font-size: 88px;
  color:#FF0000;
  /* line-height:2; */
  margin-bottom: 48px;
}
header .happy-off p{
  font-weight: 500;
  font-size: 24px;
  color:#FF0000;
  margin-bottom: 16px;
}
header .happy-off h3{
  font-weight: bold;
  font-size: 48px;
  color:#070211;
  margin-bottom: 48px;
}
